<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
   
    <script src="~/Scripts/jquery-3.2.1.js"></script>
    <script src="~/Scripts/jqPlot/jquery.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>

    <script src="~/Scripts/bootstrap.js"></script>

    <!--[if lt IE 9]><script src="~/Scripts/jqPlot/excanvas.js"></script><![endif]-->
    
    <script src="~/Scripts/jqPlot/jquery.jqplot.js"></script>
    <script src="~/Scripts/jqplot/plugins/jqplot.pieRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.dateAxisRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.barRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.canvasAxisLabelRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.canvasAxisTickRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.BezierCurveRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.categoryAxisRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.blockRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.bubbleRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.blockRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.canvasAxisLabelRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.canvasAxisTickRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.canvasOverlay.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.logAxisRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.canvasOverlay.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.canvasTextRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.pointLabels.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.categoryAxisRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.pieRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.mekkoAxisRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.ciParser.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.cursor.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.meterGaugeRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.dateAxisRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.donutRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.dragable.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.mekkoRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.enhancedLegendRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.enhancedPieLegendRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.highlighter.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.funnelRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.logAxisRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.ohlcRenderer.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.mobile.js"></script>
    <script src="~/Scripts/jqPlot/plugins/jqplot.trendline.js"></script>


</head>
<body>


    <div class="container body-content">
        @RenderBody()

    </div>


</body>
</html>